#friends-display-link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 10px 0;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -10px;
}

#friends-display-link i {
  opacity: 0.3;
  margin-left: 8px;
  margin-right: 4px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes kokoa {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1.8);
  }
  90% {
    opacity: 1;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#splash-screen > div {
  position: relative;
  opacity: 0;
  animation: kokoa 1s ease-in-out forwards;
  animation-delay: 0.2s;
}
#splash-screen span {
  top: 45px;
  left: 22px;
  z-index: 1;
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  color: var(--yellow);
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 1.5s;
}
