.badge {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.cog-spot {
  position: relative;
}

.spot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  bottom: 22px;
  right: -8px;
}
